body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(105, 105, 105);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(209, 208, 208, 0.87);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

nav {
    background-color: #305252;
}

.logo {
    height: 50px;
    padding-left: 20px;
    margin-top: 6px;
}

.material-icons {
    color: #488286;
}

.tabs {
    background-color: #305252;
    color: white;
}