
nav{
    background-color: #373e40;
}

.logo {
    height: 50px;
    padding-left: 20px;
    margin-top: 6px;
}

.material-icons{
    color: #305252;
}

.tabs{
    background-color: #305252;
    color: white;
    
}